* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}
html {
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 220px;
  border: 1px solid black;
  padding: 25px 25px;
  border-radius: 0.25rem;
  box-shadow: 0 10px 20px  rgba(0, 0, 0, 0.6); 
  
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

 label {
  position: absolute;
 display: none;
}

form input[type='text'] {
  flex-grow: 1;
  width: 250px;
  max-width: 100%;
  min-height: 38px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(53, 47, 47, 0.6);
  background-color: rgb(147, 152, 155);
}

button {
  cursor: pointer;
  border: none;
  height: 38px;
  min-width: 100%;

  padding: 0.5rem;
  font-size: 1.2rem;
  box-shadow: 0 4px 20px rgba(54, 20, 20, 0.6);
  border-radius: 0.25rem;
  background-color: rgb(155, 117, 22);
}